<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <title>Image Archive - {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="{{ url_for('static', filename='logo.png') }}" rel="icon" type="image/png"/>
    <script src="{{ url_for('static', filename='site.js') }}"></script>
    
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    {% if request.cookies.get("darkmode", None) %}
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-dark.min.css') }}"/>
    {% endif %}

    {% endblock %}
</head>
<body>
    {% include "navbar.html" %}

    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <div id="custom-alerts-container" class="toast-container position-fixed top-0 end-0 p-3">
        </div>
    </div>
    
    <div class="container" id="content">
        {% block content %}{% endblock %}
    </div>
    
    <div class="container fs-6" id="footer">
        {% block footer %}
        2021 made by MW, JB, LK | <a href="/docs/frontend" target="_blank">Frontend Docs</a> | <a href="/docs/backend" target="_blank">Backend Docs</a>
        {% endblock %}
    </div>

    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
</body>
</html>
