{% macro gallery_card(gallery) %}
<div class="card">
    <a href="/gallery/{{ gallery.id }}">
        {% set preview_images = gallery.preview_images() %}
        {% if preview_images %}
            <img alt="{{ gallery.description }}" class="card-img-top"
                src="{{ preview_images[0].thumbnail_url() }}">
        {% else %}
            <img alt="{{ gallery.description }}" class="card-img-top" src="{{ url_for('static', filename='nothumb.png') }}">
        {% endif %}
    </a>
    <div class="card-body">
        <h5 class="card-title">{{ gallery.name }}</h5>
        <p class="card-text">{{ gallery.description }}</p>
    </div>
    <div class="card-footer">
        <small class="text-muted">Created on {{ gallery.added_date|dateformat }}</small>
    </div>
</div>
{% endmacro %}


{% macro image_card(image) %}
<div class="card">
    <a href="/image/{{ image.id }}">
        <img alt="{{ image.description }}" class="card-img-top" src="{{ image.thumbnail_url() }}">
    </a>
    <div class="card-body">
        <p class="card-text">{{ image.description }}</p>
    </div>
    <div class="card-footer">
        <small class="text-muted">Uploaded on {{ image.added_date|dateformat }}</small><br>
        {% if image.taken_date %}
            <small class="text-muted">Taken on {{ image.taken_date|dateformat }}</small>
        {% endif %}
    </div>
</div>
{% endmacro %}


{% macro render_tag(tag) %}
<div class="d-inline text-white bg-secondary" style="padding:3px;margin:5px;">{{ tag.name }}</div>
{% endmacro %}


{% macro render_pagination(pagination, endpoint, query="", url_params={}) %}
<nav aria-label="Page navigation" id="paginator">
    <ul class="pagination">
        {%- for page in pagination.iter_pages() %}

        {% if page %}
        {% if page != pagination.page %}
        <li class="page-item"><a class="page-link"
                                 href="{{ url_for(endpoint, page=page, **url_params) }}{% if query %}&{{ query }}{% endif %}">{{
            page }}</a></li>
        {% else %}
        <li aria-current="page" class="page-item active"><span class="page-link">{{ page }}</span></li>
        {% endif %}
        {% else %}
        <span class=ellipsis>…</span>
        {% endif %}
        {%- endfor %}
    </ul>
</nav>
{% endmacro %}


{% macro render_messages() %}
{% with messages = get_flashed_messages(with_categories=True) %}
{% for category, message in messages %}

{% if category == "error" %}
{% set cls = "alert-danger" %}
{% elif category == "success" %}
{% set cls = "alert-success" %}
{% else %}
{% set cls = "alert-primary" %}
{% endif %}

<div class="alert {{ cls }}" role="alert">
    {{ message }}
</div>

{% endfor %}
{% endwith %}
{% endmacro %}


{% macro render_confirm(id, url, title, message) %}
<!-- Modal -->
<div class="modal fade" id="{{ id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ message }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Abort</button>
                <a class="btn btn-primary" href="{{ url }}">Proceed</a>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_discard(id, url, title, message) %}
<!-- Modal -->
<div class="modal fade" id="{{ id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="{{ url }}">Discard</a>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
