{% from "macros.html" import image_card, render_pagination %}

{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block content %}

<h2>Search results for "{{query}}" ...</h2>

<hr>

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for image in pagination.items %}
    <div class="col">
        {{ image_card(image) }}
    </div>
    {% endfor %}
</div>

{% set url_params = "query=" ~ query %}
{{ render_pagination(pagination, request.endpoint, url_params=url_params) }}

{% endblock %}
