{% from "macros.html" import render_messages %}

{% extends "base.html" %}

{% block title %}Upload{% endblock %}

{% block content %}

{{ render_messages() }}

<form action="/upload" class="mx-5" enctype="multipart/form-data" method="POST">

    <div class="mb-3">
        <label class="form-label" for="formFile">Please choose an image to upload</label>
        <input type="file" accept="image/jpeg" class="form-control" name="formFile" required>
        <div class="form-text">Select your image.</div>

        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" name="description"></textarea>
        <div class="form-text">Describe the pictures content.</div>

        <label class="form-label" for="tags">Tags</label>
        <input class="form-control" type="text" name="tags">
        <div class="form-text">Separate tags by comma. Whitespace will be replaced by dash.</div>

        <label class="form-label">Date taken</label>
        <input class="form-control" type="date" name="takenDate" value="">
        <div class="form-text">Specify when the picture was taken.</div>
    </div>

    <button type="submit" class="btn btn-outline-primary my-3">Upload</button>
</form>

{% endblock %}
