<!doctype html>
<html lang="en">
    <head>
        {% block head %}
            <title>{% block title %}{% endblock %}</title>
            <meta charset="utf-8">
            <link rel="stylesheet" href="style.css" type="text/css">
        {% endblock %}
    </head>
    <body>
        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <div id="footer">
            {% block footer %}
                Footer goes here
            {% endblock %}
        </div>
    </body>
</html>
