{% from "macros.html" import image_card, render_messages, render_pagination %}

{% extends "base.html" %}

{% block title %}Gallery - {{ gallery.name }}{% endblock %}

{% block content %}

{{ render_messages() }}

<form action="{{ url_for(request.endpoint, gallery_id=gallery.id) }}" class="mx-5" method="POST">

    <div class="container-fluid">
        {% if edit %}
        <input class="form-control" name="name" type="text" value="{{ gallery.name }}">
        <textarea class="form-control" name="description">{{ gallery.description }}</textarea>
        {% else %}
        <h2>{{ gallery.name }}</h2>
        <p>{{ gallery.description }}</p>
        {% endif %}
    </div>

    <div class="container-fluid" id="gallery-actions-bar">
        <a class="btn btn-primary" href="/api/gallery/{{ gallery.id }}/export">
            <img src="{{ url_for('static', filename='arrowdown.png') }}" height="16" width="16">
            Export
        </a>

        {% if edit %}
        <button class="btn btn-outline-primary" type="submit">
            <img height="16" src="{{ url_for('static', filename='checked.png') }}" width="16">
        </button>
        {% else %}
        <a class="btn btn-outline-primary" href="{{ url_for(request.endpoint, gallery_id=gallery.id, edit=1) }}">
            <img height="16" src="{{ url_for('static', filename='edit.png') }}"
                 width="16">
        </a>
        {% endif %}

        <a class="btn btn-outline-danger" href="/gallery/{{ gallery.id }}/delete">
            <img height="16" src="{{ url_for('static', filename='trash.png') }}" width="16">
        </a>
    </div>

</form>

<hr>

<div id="galleryCarousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        {% for gallery_image in pagination.items %}
        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">

        {% for gallery_image in pagination.items %}
            <div class="carousel-item {% if loop.first %}active{% endif %}">
                <img src="/api/image/{{ gallery_image.image.id }}" class="d-block w-100" alt="{{ gallery_image.image.description }}">
                <div class="carousel-caption d-none d-md-block">
                    <p>{{ gallery_image.image.description }}</p>
                </div>
            </div>
        {% endfor %}

    </div>
    <a class="carousel-control-prev" href="#galleryCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#galleryCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
</div>

<hr>

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for gallery_image in pagination.items %}
    <div class="col">
        {{ image_card(gallery_image.image) }}
        <a class="btn btn-outline-danger" href="/api/gallery/{{ gallery.id }}/remove?image_id={{ gallery_image.image.id }}">
            <img height="16" src="{{ url_for('static', filename='trash.png') }}" width="16">
        </a>
    </div>
    {% endfor %}
</div>

{{ render_pagination(pagination) }}

{% endblock %}
