{% extends "base.html" %}

{% block title %}Image{% endblock %}

{% block content %}

    <img src="/api/image/{{ image.id }}" class="img-fluid d-block mx-auto" alt="{{ image.description }}">

    <div class="container-fluid">
        <a class="btn btn-primary" href="/api/image/{{ image.id }}?download=1">Download</a>
        <a class="btn btn-outline-primary" href="/api/image/{{ image.id }}?thumbnail=1&download=1">Download Thumbnail</a>
    </div>

    <div class="container-fluid">
        <p>{{ image.description }}</p>
    </div>

{% endblock %}
