{% from "macros.html" import render_messages %}

{% extends "base.html" %}

{% block title %}Image{% endblock %}

{% block content %}

{{ render_messages() }}

<img alt="{{ image.description }}" class="img-fluid d-block mx-auto" src="/api/image/{{ image.id }}">

<form action="{{ url_for(request.endpoint, image_id=image.id) }}" class="mx-5" method="POST">

    <div class="container-fluid" id="image-actions-bar">
        <div class="btn-group">
            <a class="btn btn-primary" href="/api/image/{{ image.id }}?download=1">Download</a>

            <a class="btn btn-outline-primary" href="/api/image/{{ image.id }}?thumbnail=1&download=1">Download
                Thumbnail</a>

            <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle" id="dropdownGalleryButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                    <img height="16" src="{{ url_for('static', filename='plus.png') }}" width="16">
                </button>
                <div id="galleryAddDropdown" class="dropdown-menu" aria-labelledby="dropdownGalleryButton">
                    <a class="dropdown-item" href="#">Item</a>
                    <a class="dropdown-item" href="#">Item</a>
                    <a class="dropdown-item" href="#">Item</a>
                    <a class="dropdown-item" href="#">Item</a>
                    <a class="dropdown-item" href="#">Item</a>
                </div>
            </div>

            {% if edit %}
            <button class="btn btn-outline-primary" type="submit">
                <img height="16" src="{{ url_for('static', filename='checked.png') }}" width="16">
            </button>
            {% else %}
            <a class="btn btn-outline-primary" href="{{ url_for(request.endpoint, image_id=image.id, edit=1) }}">
                <img height="16" src="{{ url_for('static', filename='edit.png') }}"
                     width="16">
            </a>
            {% endif %}
        </div>
    </div>

    <div class="container-fluid">
        <p>{{ image.width }} x {{ image.height }}</p>

        {% if edit %}
        <textarea class="form-control" name="description">{{ image.description }}</textarea>
        {% else %}
        <p>{{ image.description }}</p>
        {% endif %}
    </div>

</form>

{% endblock %}
